<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Home<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/pricelists/">Listini<i class="fa fa-euro fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/pricelists/add">Aggiungi listino<i class="fa fa-plus-circle fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/products/">Prodotti<i class="fa fa-cubes fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/products/add">Aggiungi prodotto<i class="fa fa-plus-circle fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>
</div>