<div class="row padding-left">
    <div class="container-fluid">
        <h3 class="">Aggiungi prodotto</h3>
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" novalidate angular-validator name="addProductForm" angular-validator-submit="addProduct()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <label class="control-label">Codice *</label>
                            <input class="form-control" name="productCode" type="text" placeholder="Codice prodotto" ng-model="product.productCode"
                                   validate-on="blur" required required-message="'Il codice prodotto è obbligatorio'" ng-trim="false" ng-change="verifyProductCode(product.productCode)">
                            <span class="text-success" ng-show="!productCodeAlreadyExists && product.productCode"><i class="fa fa-check" ></i> Questo codice non è stato utilizzato in precedenza.</span>
                            <span class="text-danger" ng-show="productCodeAlreadyExists && product.productCode"><i class="fa fa-exclamation-triangle"></i> Attenzione questo codice è già stato utilizzato per un'altro prodotto.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <label class="control-label">Descrizione</label>
                            <input class="form-control" name="description" type="text" placeholder="Descrizione prodotto" ng-model="product.description">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h4>Associa il prodotto ai listini</h4>
                    <div ng-repeat="p in priceLists">
                        <input type="checkbox" checklist-model="product.priceListIds" checklist-value="p.priceListId"> {{p.priceListCode}} ( {{p.description}} )
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" class="btn btn-primary" value="Salva" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>